*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}
.contatos{
    background-color: rgb(46, 46, 46);
    font-family:Arial, Helvetica, sans-serif ;
    color: aliceblue;
    font-style: oblique;  
    font-size: 8pt;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.rede_sociais{
    gap: 5px;
}
.row{
    display: flex;
    flex-direction: row;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color:#212C7E;
    height: 70px;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
    color: #C33434;
}
.menu{
    margin-left: 15px;
    align-items: center;
    gap: 5px;
}
/* ------------------------------------ */
.menu-list{
    height: 65vh;
    width: 200px;
    position: absolute;
    z-index: 2;
    top: 8px;
    left: 0px;
    background-color: rgb(36, 36, 36);
    border: 5px 5px 2px rgba(35, 35, 35, 0.486);
}
ul{
    list-style-type: none;
    padding: 20px 20%; 
}
div.menu-list ul li a{
    font-size: 15pt;
    color: azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    display: flex;
    margin-bottom: 10px;
}
div.menu-list ul li a:hover{
    color: rgb(170, 254, 254);
    text-shadow: 2px 2px 2px teal;
}
/* ------------------------------------ */
#assine a{
    text-decoration:none;
    color: #C33434;
}
.login{
    align-items: center;
}
.login h2 a{
    text-decoration:none;
    color: #C33434;
}
div.entrar h2 a{
    text-decoration: none;
    color: #C33434;
}
.pesquisar{
    align-items: center;
    gap: 5px;
    margin-right: 20px;
}
/* -----------------------------------------------------
barra pesquisar
----------------------------------------------------- */
.blocoPesquisar{
    width: 500px;
    height: 50px;
    background-color: #091764;
    position:absolute;
    top: 100px;
    right: 0px;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.blocoPesquisar input{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 400px;
    height: 30px;
}

.pesquisar h2 a{
    text-decoration: none;
    color: #C33434;
    
}
.pesquisar{
    margin-left: 20px;
}
.blocoPesquisar{
    padding: 10px;
    position: absolute;
    z-index: 2;
}
/* ---------------------------------------- */

.pagina{
    height: 30px;
    background-color: #8E97B7;
    display: flex;
    align-items: center;
}
#pag{
    font-size: 10pt;
    margin-left: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fundoTransparente{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 255, 0);
    position:absolute;
    z-index: 1;
}
.pesquisar h2 a{
    text-decoration: none;
    color: #C33434;
}

@media screen and (max-width:950px) {
    .menu,#assine,.entrar, .pesquisar{
    font-size: 10pt;
    } 
    .contatos{
        font-size:6pt ;
    }
}
@media screen and (max-width:550px) {
    .contatos{
        font-size:4pt ;
    }
    .menu,.pesquisar{
        font-size: 6pt;
        } 
    #assine,.login{
        position: absolute;
        z-index: -1;
    } 


}
@media screen and (max-width:500px){
    .blocoPesquisar{
        width: 100%;
    }
}
@media screen and (max-width:450px) {
    .contatos{
        position: absolute;
        z-index: -1;
    }
    
}
/* -----------------------------------------------------
assinar
----------------------------------------------------- */
.planos{
    padding: 50px 20px;
    display: flex;
    gap: 3vw;
    justify-content: center;
    align-items: center;
  }
  .MA{
    width: 40vw;
    height: 300px;
    background-color: #0e2190;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.726);
  }
  .planoMensal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 1px black;
  }
  .planoMensal h1{
    font-size: 25pt;
  }
  .planoMensal p{
    
    font-size: 9pt;
  }
  .planoMensal h2{
    font-size: 15;
  }
  .planoAnual{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 1px black;
  }
  .planoAnual h1{
    font-size: 25pt;
  }
  .planoAnual p{
    font-size: 9pt;
  }
  .planoAnual h2{
    font-size: 15;
  }
  #buttomMensal, #buttomAnual{
    width: 20vw;
    height: 30px;
    background-color: red;
    border-radius: 15px;
    width: 20vw;
    color: white;
  }
  .outrosPlanos h1 a{
    font-size: 8pt;
    text-decoration: none;
    color: grey;
  }
  .outrosPlanos{
    display: flex;
    justify-content: end;
    margin-right: 10vw;
  }
  @media screen and (max-width: 600px){
      .planos{flex-direction: column;
      }
      .MA{
          width: 80vw;
      }
      #buttomMensal, #buttomAnual{
          width: 30vw;
      }
  }
