.redeSociais{
    width: 20px
}
#iconeTelefone{
    width: 20px
}
#iconeEmail{
    width: 20px;
}
#iconeWhatsapp{
    width: 30px;
}
#iconeMenu{
    width: 50px;
}
#iconeLogo{
    width: 70px;
}
#iconeLogin{
    width: 50px;
}
#iconeLupa{
    width: 20px;
    height: 20px;
}
#iconeSetaDireita{
    width: 5vw;
    height: 5vw;
}
#iconeSetaEsquerda{
    width: 5vw;
    height: 5vw;
    }