div.pagina h1 a{
    font-size: 10pt;
    text-decoration: none;
    color: black;
}
main{
    width: auto;
    height: auto;
    background-color: #AEAEAE;
    display: flex;
}
main h1{
    font-size: 20pt;
}
main p{
    font-size: 15pt;
}
.textoConteudo{
    width: 75%;
    padding: 30px;
    text-align: justify;
}
.textoConteudo h1{
    margin: 0px 60px;
    text-align: center;
}
#foguete{
    width: 70vw;
}
.data{
    display: flex;

}
#relogio{
    margin: auto 0px;
    width: 20px;
    height: 20px;
}
.datatext{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    color: #353535;
}
.datatext h1, .datatext p{
    font-size: 12pt;
}
hr{
    border-color: #242424;
}
.listaRecentes{
    width: 25%;
    height: auto;
    background-color:#AEAEAE;
    padding: 15px;
    border: 5px 0px 5px transparent;
}
div.listaRecentes h1{
    font-size: 20pt;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}
div.listaRecentes h2 a{
    font-size: 15pt;
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #242424;
}
div.listaRecentes h2 a:hover{
    color: #858484;
}

.escritor{
    display: flex;
    width: 100%;
    justify-content: center;
}
.imagemEscritor{
width: 70px;
height: 70px;
border-radius: 100px;
background: url('Images/images.jpg') no-repeat;
background-size: cover;
background-position: center, center; 
}
.escritorRedeSociais{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.escritorRedeSociais h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    margin-bottom: 5px;
}
div.escritor img{
    width: 20px;
    height: 20px;
}
@media  screen and (max-width:900px){
main{
    flex-direction: column;
}
.textoConteudo{
width:100%;}
.listaRecentes{
width: 20px;
}
#foguete{
width: 100%;

}
div.listaRecentes h1{
    width: 100vw;
    text-align: center;
}
div.listaRecentes {
    width: 100%;
    text-align: center;
}
}